.navbar{
    background-color: rgb(70, 119, 255);
    border: cyan 1px solid;
    color: white;
}
.nav-container{
    padding: 0px 0px;
}
.navrow{

   text-align: center;
}
.card{
    width: 250px;

}

